body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbarblue{
  background-color:rgb(250,250,250,1);
  height: fit-content;
}
.navbarblue .nav-link {
  color:black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
  margin: 2px 4px;
}

.navbarblue .nav-link:hover{
  color:black;
}
.navbarblue .nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background:black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbarblue .nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}
.navbarblue .login-button{
  background-color:rgb(89, 222, 173);
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
}
.navbarblue .login-button:hover{
  color: black;
  background-color: transparent;
  border-color: black;
}
.navbarblue .nav-logo{
  height: 7vh;
  width: 7vh;
}

.navbarblue .companyname{
    color:black;
    margin-left: 1px;

    font-family: cursive;
}

.navbarblue .navbar-toggler-icon{
  background-image: url("/images/toggler.png");
  border-radius: 4px;
  border:1px black solid;
  border-bottom-width:1.5px ;

}
.navbarblue #hiddentext{
  display: none;
}
@media(max-width:991px){
  .navbarblue .navbar-collapse{
    height: 100vh; 
    margin:0;
    align-items: flex-start;
  }
  .navbarblue #hiddentext{
    display: inline-flex;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2em ;
    color: black;
    margin-top: 3px;
  }
}

.welcome-content{
  background-color: black;
  height: 90vh;
  width:100vw;  
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-bg {
  object-fit: cover;
  opacity: 0.6;
  height: 90vh;
  width:100vw;
  overflow: hidden;
}
.welcome-text{
    font-family: 'Roboto', sans-serif;
    text-shadow: beige;
    font-weight: 900;
    position: absolute;
    font-size: 2rem;
    padding: 1rem;
  
}
.welcome-text>h1{
  font-size: 3rem;
}
.welcome .welcome-btn{
  background-color:rgb(89, 222, 173);
  font-weight: 400;
  padding: 5px 10px;
  color:white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin-right: 2vw;
  border-radius: 3px;
  margin-top:1vh;
}

.welcome .welcome-btn:hover{
  color:white;
  background-color: transparent;
  border-color: white;
}

.job .details{
  background-color: rgb(89, 222, 173);
}
.job .details:hover{
  color:black;
  background-color: rgb(89, 222, 173);
}
CardTitle.title{
  font-weight: 500;
}
.modal.fade.show{
  height: 100vh;
  min-height: 100%;
}